{% extends 'rango/base.html' %}
{% load static %}

{% block title_block %}
    About Rango
{% endblock %}

{% block body_block %}
    <h1>Rango says...</h1>
    <p>here is the about page.</p>
    <p>This tutorial has been put together by <strong>bayan</strong>.</p>

    <br>
    <p>Visits: {{ visits }}</p>


    <img src="{% static 'images/rango.jpg' %}" alt="Picture of Rango" />
    <img src="{{ MEDIA_URL }}cat.jpg" alt="Picture of a Cat" />

    <br>
    <a href="{% url 'rango:index' %}">Return to the Index Page</a>
{% endblock %}
